Checkpoint randomizer/data/assets/*
Checkpoint randomizer/data/decompiler_out/*
Checkpoint randomizer/data/iso_data/*
Checkpoint randomizer/data/out/*
Checkpoint randomizer/data/log/*

Checkpoint randomizer/data/log/game.txt
