data/assets/*
data/decompiler_out/*
data/iso_data/*
data/out/*
data/log/*

data/log/game.txt

data/texture_replacements/*
reshade-shaders/*
AG1k's_Ultimate_Jak_and_Daxter_Preset_V1.ini
ReShade.ini
ReShade.log
opengl32.dll
ReShadePreset.ini
data/extractor.log
data/extractor.log
.env
Zedbottwitchintegration.exe

# ALL ISO AND DECOMP OUT IGNORE FOR THE CUSTOM LEVEL GUIDE :
Examples/Custom Levels Guide/data/decompiler_out
Examples/Custom Levels Guide/data/iso_data
Examples/Custom Levels Guide/data/log
Examples/Custom Levels Guide/data/out
Examples/Custom Levels Guide/data/extractor.log
Examples/Custom Levels Guide/data/custom_levels/my-first-level/my-first-level.blend1
